<!--NAVBAR -->
<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      Melody<span class="my_blue">Genie</span>
    </a>
    <div class="item">
    	<p>Recommendations based on <span>  </span><span class="my_blue"> <%= @artist.name %></span></p>
    </div>
    


    <div class="right menu">
		<a class="item" id="re-search"><i class="search icon my_blue"></i> Make another search</a>
    </div>
            


  </div>
</div>

<!--NAVBAR -->

<div class="search-result">
	<% if @artist == nil %>
		<script>
			$('.ui.basic.modal').modal('show');
		</script>
		<%= render 'artist_not_found_modal' %>
	<%else%>


		
		<div class="related-artists">
			<div class="ui link cards">

				<% @relateds_array.each.with_index do |related,i| %>
					
					<div class="card custom" data-id="<%=i%>">
						<%= render partial: 'artist_modal', locals: {profile_pic: related.images.first["url"], index: i, artist_name: related.name, artist_songs: related.top_tracks(:US)} %>
						

						<div class="image custom" >
							
							<% if related.images.any? %>
								<img class="artist_profile_pic" src=" <%=related.images.first["url"] %>" alt=":)">

								<%else%>
									<p class="no-picture">No picture available :(</p>
							<%end%>
						</div>

						<div class="content">
							<div class="header">
								<%= related.name %> 
							</div>
							<div class="meta">
								<% if related.genres.first == nil%>
									<p>No specified genre</p>
								<%end%>
						    	<%= related.genres.first %> 
						  	</div>

						  	<div class="description">
						    	<i class="red icon heartbeat"></i> Popularity: <%= related.popularity %> / 100
						  	</div>
						</div>

						<div class="extra content">
			
						  <span>
						    <i class="users icon "></i>
						    <%= related.followers['total'] %> Followers on <i class="spotify icon my_green"></i>
						  </span>
						</div>

<!-- 						<div class="ui bottom attached button">
						  <i class="music icon"></i>
						  Listen most popular tracks
						</div> -->

					</div>

				<%end%>
			</div>
		</div>
	<%end %>
</div>

