
<div class="search-result">
	<% if @artist == nil %>
		<script>
			$('.ui.basic.modal').modal('show');
		</script>
		<%= render 'artist_not_found_modal' %>
	<%else%>


		
		<div class="related-artists">
			<div class="ui link cards">

				<% @relateds_array.each do |related| %>
					
					<div class="card custom">
						<!--MODAL-->
						<div class="ui modal">
						  <i class="close icon"></i>
						  <div class="header">
						    Profile Picture
						  </div>
						  <div class="image content">
						    <div class="ui medium image">
						      <img src=" <%=related.images.first["url"] %>" alt=":)">
						    </div>
						    <div class="description">
						      <div class="ui header">We've auto-chosen a profile image for you.</div>
						      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
						      <p>Is it okay to use this photo?</p>
						    </div>
						  </div>
						  <div class="actions">
						    <div class="ui black deny button">
						      Nope
						    </div>
						    <div class="ui positive right labeled icon button">
						      Yep, that's me
						      <i class="checkmark icon"></i>
						    </div>
						  </div>
						</div>
						<!--MODAL-->
						
						<div class="image custom" >
							
							<% if related.images.any? %>
								<img class="artist_profile_pic" src=" <%=related.images.first["url"] %>" alt=":)">

								<%else%>
									<p class="no-picture">No picture available :(</p>
							<%end%>
						</div>

						<div class="content">
							<div class="header"><%= related.name %></div>
							<div class="meta">
								<% if related.genres.first == nil%>
									<p>No specified genre</p>
								<%end%>
						    	<%= related.genres.first %> 
						  	</div>

						  	<div class="description">
						    	<i class="icon heartbeat"></i> Popularity: <%= related.popularity %> / 100
						  	</div>
						</div>

						<div class="extra content">
			
						  <span>
						    <i class="users icon"></i>
						    <%= related.followers['total'] %> Followers on <i class="spotify icon"></i>
						  </span>
						</div>

						<div class="ui bottom attached button">
						  <i class="music icon"></i>
						  Listen most popular tracks
						</div>

					</div>

				<%end%>
			</div>
		</div>
	<%end %>
</div>

