<div class="container">

	<div>
	    <%= form_tag( main_index_path, :method => "get") do %>
	      <%= label_tag(:artist_search, "Search for:") %>
	      <%= text_field_tag(:artist_search) %>
	      <%= submit_tag("Search") %>
	    <% end %>

	</div>

	<div class="related-artists">
		<% @relateds_array.each do |related| %>
			<br>
			<%= related %>
			<br>
		<%end%>
	</div>
	
</div>



